version: '3'

services:
    mariadb:
        container_name: mariadb
        build:
            context: ./mariadb
            dockerfile: dockerfile
        image: debian:buster
        restart: always
        networks:
            - intra
        tty: true
        env_file:
            - .env
        volumes:
            - mariadb:/var/lib/mysql
        
    nginx:
        container_name: nginx
        build:
          context: ./nginx
          dockerfile: dockerfile
        image: debian:buster
        restart: always
        ports:
            - 443:443
        networks:
            - intra
        tty: true
        env_file:
            - .env
        volumes:
            - wordpress:/var/www/wordpress

    wordpress:
        container_name: wordpress
        build:
          context: ./wordpress
          dockerfile: dockerfile
        image: debian:buster
        restart: always
        expose :
            - 3306
            - 9000
        networks:
            - intra
        tty: true
        env_file:
            - ./.env
        volumes:
            - wordpress:/var/www/wordpress

networks:
    intra:
        driver: bridge

volumes:
    mariadb : 
        name : mariadb
        driver_opts:
            type: none 
            device: /home/${VM_LOGIN}/data/mariadb
            o: bind
    wordpress : 
        name : wordpress
        driver_opts:
            type: none 
            device: /home/${VM_LOGIN}/data/wordpress
            o: bind